<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Termin like</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1.5.1");</script>
  <script src="/Socket.IO/socket.io.js"></script>
  <script type="text/javascript" src="/socketio/socket.io.js"></script>
  <script type="text/javascript">var port = <%= port %>;</script>
  <script type="text/javascript" src="/js/client.js"></script>
  <link href="/css/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    hello
</body>
</html>